<div class="post">
    <h4>Share this post:</h4>
    <a class="icon icon-social-twitter" style="font-size:25px;color:grey;" href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
    <a class="icon icon-social-facebook" style="font-size:25px;color:grey;" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
    <a class="icon icon-social-google-plus" style="font-size:25px;color:grey;" href="https://plus.google.com/share?url={{ site.url }}{{page.url}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
    <a class="icon icon-social-linkedin" style="font-size:25px;color:grey;" href="https://www.linkedin.com/cws/share?token&isFramed=false&url={{ site.url }}{{page.url}}" onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;"></a>
    <a class="icon icon-print" style="font-size:25px;color:gray;" onclick="window.print()"></a>
</div>
